<form id="login-form">
  <div>
    <label for="user-login">Username:</label>
    <input type="text" id="username-input-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-input-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <a href="/signup">Create an account</a>
</form>

<script src="/js/login.js"></script>