<h2>
    Create New Post
</h2>
<form id="new-post-form">
<div>
    <label for="post-title">Title</label>
    <input type="text" id="post-title" name="post-title" />
</div>
<div>
    <label for="post-body">Content</label>
    <input id="post-body" name="body" />
</div>
<button type="submit" class="btn">Create</button>
</form>
</section>

<script src="/js/new.js"></script>